// .basic-products {

// }

.basic-products__wrapper {
  width: $mobile-width;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    display: block;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.basic-products__list {
  margin: 0;
  padding: 0;
}

.basic-products__button {
  @include secondary-font (16px, 20px); // $font-size, $line-height
  color: var(--white, #ff6347);
  background-color: var(--bg-basic, #ff6347);
  border: none;
  padding: 10px 109px;
  cursor: pointer;
  grid-column: 1 / -1;
  grid-row: 2 / -1;

  @media (min-width: $tablet-width) {
    padding: 10px 30px;
    width: 250px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 50px;
    width: 169px;
  }
}
