.cards__item {
  list-style: none;
  border-bottom: 1px solid var(--catalog-border, #ff6347);
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 107px 40px;
  row-gap: 17px;
  padding: 20px 20px 25px;
}

.cards__item-more {
  list-style: none;
  border-bottom: 1px solid var(--catalog-border, #ff6347);
  display: grid;
  grid-template-columns: 280px;
  grid-template-rows: 30px 20px 16px 40px;
  padding: 25px 20px;
}

.cards__link {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards__link-more {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  text-align: center;
  margin-bottom: 23px;
}

.cards__link-image {
  width: 30px;
  height: 30px;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
  }
}

// .cards__text {

// }

.cards__link-text {
  text-decoration: none;
}

.cards__title {
  @include secondary-font (16px, 20px); // $font-size, $line-height
  margin: 0;
  padding: 0;
  color: var(--gray-dark, #ff6347);
  text-transform: uppercase;
  padding-right: 60px;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    @include secondary-font (20px, 24px); // $font-size, $line-height
  }
}

.cards__item-title-more {
  @include secondary-font (16px, 20px); // $font-size, $line-height
  margin: 0;
  padding: 0;
  color: var(--gray-dark, #ff6347);
  text-transform: uppercase;
  margin-bottom: 8px;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include secondary-font (20px, 24px); // $font-size, $line-height
  }
}

.cards__description {
  @include primary-font (12px, 16px); // $font-size, $line-height
  color: var(--text-description, #ff6347);
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 70px);

  @media (min-width: $tablet-width) {
    @include primary-font (16px, 20px); // $font-size, $line-height
  }
}

.cards__item-description-more {
  @include primary-font (12px, 16px); // $font-size, $line-height
  color: var(--text-description, #ff6347);
  margin: 0;
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  text-align: center;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    @include primary-font (16px, 20px); // $font-size, $line-height
  }
}

.cards__option {
  margin: 0;
  grid-column: 1 / 2;
  text-align: left;
}

.cards__value {
  margin: 0;
  grid-column: 2 / -1;
  text-align: right;
}

// .cards__button {

// }

.cards__button-show-all {
  @include secondary-font (16px, 20px); // $font-size, $line-height
  color: var(--text-description, #ff6347);
  background-color: var(--gray-light, #ff6347);
  border: none;
  padding: 10px 90px;
  cursor: pointer;
  grid-column: 1 / -1;
  grid-row: 4 / -1;

  @media (min-width: $tablet-width) {
    @include secondary-font (16px, 20px); // $font-size, $line-height
    padding: 10px 80px;
    width: 250px;
  }
}
