.main-footer {
  // width: $mobile-width;
  // margin: 0 auto;
  background-color: var(--gray-light, #ff6347);

  // @media (min-width: $tablet-width) {
  // width: $tablet-width;
  // }

  // @media (min-width: $desktop-width) {
  // width: $desktop-width;
  // }
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin: 0 20px;
  padding-top: 40px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;


  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }

  // @media (min-width: $desktop-width) {

  // }
}

// .main-footer__logo {
//   border-bottom: 1px solid var(--program-border, #ff6347);
// }

// .main-footer__logo-icon {

// }

.main-footer__link {
  display: block;
  mask-image: url("../../icons/logo-text.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  width: 128px;
  height: 24px;
  background-color: var(--gray-darken, #ff6347);
  padding-bottom: 20px;
}

.main-footer__developer-link {
  display: block;
  mask-image: url("../../icons/html-academy-mobile.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  width: 280px;
  height: 34px;
  background-color: var(--gray-darken, #ff6347);
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    mask-image: url("../../icons/html-academy-tablet.svg");
    width: 168px;
    height: 37px;
  }
}
